# Python
__pycache__/
*.py[cod]
*.pyc
*.class
.ipynb_checkpoints/

# Ambientes virtuais
venv/
venv_new/
VIDEOvenv/
.venv/
bin/
lib/
share/

# Dados e mídia (pesados)
src/data/
src/outputs/
src/datasets/
src/runs/
*.mp4
*.avi
*.mov
*.webm
*.zip

# Machine Learning / Modelos
*.pt
*.onnx
*.pkl
*.joblib
*.pth

# Debug e outputs
debug_homography_out/
src/figures/
outputs/

# Modelos
external/

# Documentação
.vscode/
.aider*
*.csv

# Variáveis de ambiente
.env

# macOS
.DS_Store